<h1>Grant Training Sessions</h1>
<div id='grant-training-info'>
	The following is a list of Power Point Presentations, that have been used in the previous years within the mandatory grant training sessions.
</div>
<div id="grant-training-powerpoints">
	<% @training_ppts.each do |ppt| %>
	<p>
	<%= link_to	'', ppt.human_url, 
		:class => 'glyphicon glyphicon-cloud-download', :style => 'padding-right: 30px;' %>	
	<span><%= ppt.title %> </span>  
	<p/>
	<% end %>
</div>