<% VotingMemberGoogle.fetchAll.each do |member| %>
<div class="members">
	<div class="well">
		<div class="profile-pic">
			<%= image_tag member.picture_url, :class => 'circular'%>
		</div>
		<div id="name-box">
			<%= member.first_name + ' ' + member.last_name%>
		</div>
		<div class="member-desctiption">
			<%= member.description %>
		</div>
	</div>
</div>
<% end %>
