/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#web-content {
	width: 770px;
	margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

body {
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 0px;
	position: relative;
}

#title {
	position: absolute;
	top: 10px;
	left: 100px;
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font-size: 60px;
	font-family: 'Chrono Bold';
}

#menu-container {
	position: relative;
	z-index: 2;
}

div#content {
	width: 770px; /* will be fixed with js lateron*/
	padding-right: 20px;
	padding-left: 30px;
	position: relative;
	z-index: 1;
}

iframe {
	top: -128px;
	left: -30px;
	position: absolute;
}

div#left-box {
	width: 440px;
	float: left;
}

div#right-box {
	float: left;;
}

div#donut {
	padding-top: 10px;
}

#description > p#content {
	color: #555;
	font-style: italic;
	margin: 5px;
}

#description > p#name {
	font-weight: bold;
	padding-left: 7px;
	margin-bottom: 0px;
}

#date-frame {
	margin-top: 10px;
	font-style: italic;
	text-align: center;
	overflow: hidden;
}

#timeline {
	width: 240px;
}

p#timeline-title {
	margin-top: 0px;
	font-size: larger;
	font-weight:700;
}

div.infopanel {
	overflow: hidden;
}

nav.navbar {
	border-radius:0px;
	width:	770px;
}

div.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.75;
}

.sexy_line { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, lightgrey));
}

#footer {
	float: left;
	font-size: 11px;
	font-style: italic;
	color: grey;
	width: 650px;
	padding-left: 45px;
}

/* Fonts */
@font-face {
	font-family: 'Chrono Bold';
	src: url('/assets/ChronoWebBold.woff') format("woff");
}

@font-face {
  font-family: "Chrono Regular";
  src: url("/assets/ChronoWebRegular.woff") format("woff");
}

@font-face {
  font-family: "Chrono Medium";
  src: url("/assets/ChronoWebMedium.woff") format("woff");
}

@font-face {
  font-family: "Chrono Light";
  src: url("/assets/ChronoWebLight.woff") format("woff");
}