/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 0px;
}

div#content {
	width: 770px; /* will be fixed with js lateron*/
	padding-right: 30px;
	padding-left: 30px;
}

div#left-box {
	width: 483px;
	float: left;
}

div#right-box {
	float: left;
}

div#donut {
	padding-top: 10px;
}

#description > p#content {
	color: #555;
	font-style: italic;
	margin: 5px;
}

#description > p#name {
	font-weight: bold;
	padding-left: 7px;
	margin-bottom: 0px;
}

#date-frame {
	margin-top: 10px;
	font-style: italic;
	text-align: center;
	overflow: hidden;
}

p#timeline-title {
	margin-top: 0px;
	font-size: larger;
	font-weight:700;
}

div.infopanel {
	overflow: hidden;
}

div.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.75;
}

div.infobox {
	float: left;
	width: 200px;
	height: auto;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
/*	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
*/}